.rest {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}
.card {
    width: 30%;
    border-radius: 10px;
    margin-left: 1.25%;
    margin-right: 1.25%
}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}